{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/news">News</a></li>
        <li class="breadcrumb-item">{{ article.title }}</li>
      </ol>
    </nav>
</div>

<div class="container">
    <h1>{{ article.title }}</h1>

    <div class="row">
        <div class="col-md-4">
            {% if article.picture %}
            <img class="img-thumbnail" src="{{ SITEURL }}/images/news/{{ article.picture }}">
            {% endif %}
        </div>

        <div class="col-md-8">
            {{ article.content }}
        </div>
</div>
{% endblock %}
