{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/news">News</a></li>
        <li class="breadcrumb-item">{{ article.title }}</li>
      </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">{{ article.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% if article.picture %}
            <img class="img-thumbnail" src="{{ SITEURL }}/images/news/{{ article.picture }}">
            {% endif %}
            <p class="mt-4 ml-1">
                <small class="text-muted"><time class="published" datetime="{{ article.date.isoformat() }}">Published {{ article.locale_date }} </time></small>
            </p>
        </div>

        <div class="col-md-8">
            {{ article.content }}

            <a href="{{ SITEURL }}/news" class="btn btn-text mt-5">&larr; Back to overview</a>
        </div>
    </div>

</div>
{% endblock %}
