{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Computational Pathology Group</h1>
    <p>The Computational Pathology Group of the Department of Pathology of Radboudumc works in close collaboration with DIAG. The history of the group reaches back to the early 1980s, while the current group has been active since 2013. We have a strong translational focus, owing to our strong embedding in a clinical environment. We have a leading position in our research field, witnessed for instance by the highly successful CAMELYON16 and CAMELYON17 grand challenges which we organized and by our active role in committees and conference organisation (e.g. the Computational Pathology Symposium, held in conjunction with the European Congress of Pathology).</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

{% include "blocks/people-grid.html" %}

{% endblock content %}
