{% extends "base.html" %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron block-primary block-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-title">Computational Pathology Group</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p class="lead">The Computational Pathology group has been active in its current form since 2013, while foundations were made in the early 1980's. We have a strong translational focus, owing to our firm embedding in a clinical environment. We have a leading position in our research field, witnessed for instance by our highly successful CAMELYON16 and CAMELYON17 grand challenges. We aim to remain at the cutting edge of computational pathology by fulfilling an active role in committees and conference organization.</p>
                <p><a class="btn btn-outline-light btn-lg" href="{{ SITEURL }}/about" role="button">Learn more &raquo;</a></p>
            </div>
            <div class="col-md">
                <figure class="figure">
                    <img class="figure-img img-fluid" src="http://www.diagnijmegen.nl/images/5/5a/Camelyon.jpg">
                    <figcaption class="figure-caption text-right">CAMELYON16 result.</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-4">
                <h1>Current projects</h1>
            </div>
            <div class="col-md-8">
                <div class="row">
                    {% include "blocks/projects.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block block-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Latest news</h1>
            </div>
            <div class="col-md-8">
                <div class="card bg-none">
                  <img class="card-img-top" src="http://www.diagnijmegen.nl/images/thumb/5/5c/Highlight-jeroen-10march.png/1050px-Highlight-jeroen-10march.png" alt="Card image cap">
                  <div class="card-body">
                    <h2 class="card-title">Some project</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{ SITEURL }}/news" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class <div class="row">
        <h1>Our team</h1>
    </div>
</div>
{% include "blocks/people-grid.html" %}

{% endblock content %}
