{% extends "base.html" %}
{% block content %}

<div class="jumbotron block-primary">
  <div class="container">
      <div class="row">
          <h1 class="display-title">Computational Pathology Group</h1>
      </div>
      <div class="row">
          <div class="col-md">
              <p class="lead">The history of the group reaches back to the early 1980s, while the current group has been active since 2013. We have a strong translational focus, owing to our strong embedding in a clinical environment. We have a leading position in our research field, witnessed for instance by the highly successful CAMELYON16 and CAMELYON17 grand challenges which we organized and by our active role in committees and conference organisation.</p>
              <p><a class="btn btn-outline-light btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
          <div class="col-md">
              <figure class="figure">
                  <img class="figure-img img-fluid" src="http://www.diagnijmegen.nl/images/5/5a/Camelyon.jpg">
                  <figcaption class="figure-caption text-right">CAMELYON16 result.</figcaption>
              </figure>
          </div>
      </div>
  </div>
</div>

{% include "blocks/people-grid.html" %}

{% endblock content %}
