{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/">Home</a></li>
        <li class="breadcrumb-item">News</li>
      </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        {% for article in articles_page.object_list %}
            <article class="col-md-12">
                <header>
                    <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                </header>

                {% if article.picture %}
                <img src="{{ SITEURL }}/images/news/{{ article.picture }}">
                {% endif %}

                <p>{{ article.summary | striptags }} <a href="{{ SITEURL }}/{{ article.url }}">Read more &rarr;</a></p>

                <footer class="post-info">
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </footer>

                <hr>
            </article>
        {% endfor %}
    </div>
    <div class="row">
        {% if articles_page.has_other_pages() %}
            {% include 'blocks/pagination.html' %}
        {% endif %}
    </div>
</div>
{% endblock content %}
