{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/">Home</a></li>
        <li class="breadcrumb-item">News</li>
      </ol>
    </nav>
</div>

<div class="container">
    <h1 class="page-title">News</h1>

    {% for article in articles_page.object_list %}
    <article class="row mb-5">
        <div class="col-md-4">
            {% if article.picture %}
            <img class="img-thumbnail" src="{{ SITEURL }}/images/news/{{ article.picture }}">
            {% endif %}

        </div>

        <div class="col-md-8">
            <header>
                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            </header>

            <p>{{ article.summary | striptags }} <a href="{{ SITEURL }}/{{ article.url }}">Read more &rarr;</a></p>

            <footer class="post-info text-muted">
                <small><time class="published" datetime="{{ article.date.isoformat() }}">Published {{ article.locale_date }} </time></small>
            </footer>
        </div>
    </article>
    {% endfor %}
    <div class="row">
        {% if articles_page.has_other_pages() %}
            {% include 'blocks/pagination.html' %}
        {% endif %}
    </div>
</div>
{% endblock content %}
