{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
{% include 'blocks/breadcrumbs.html' %}

<div class="container">
    <h1>{{ page.title }}</h1>
    {{ page.content }}

    <div class="row">
        {% for child in page.children %}
        <div class="col-md-3">
            <div class="card mb-4">
                <img class="card-img-top" src="{{ SITEURL}}/images/projects/{{ child.picture }}" alt="{{ child.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ child.title }}</h5>
                    <p class="card-text">{{ child.description }}</p>
                    <a href="{{ SITEURL }}/{{ child.url }}" class="btn btn-text">Read more →</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
