{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}

    <div class="container">
    <h1 class="page-title">{{ page.title }}</h1>

    <p class="lead">
        {% for author in page.authors %}
            {{ author }},&nbsp;
        {% endfor }
    </p>

    <p>Published in {{ page.published_in }}</p>

    {% if page.doi %}
        <p><a href="{{ page.doi }}" class="btn btn-primary">DOI</a></p>
    {% endif %}

    <h2>Abstract</h2>
    {{ page.content }}

    </div>
{% endblock %}
