.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.svg-icon-github {
  width: 0.857421875em;
}

.btn .svg-icon {
  font-size: 1.2em;
  vertical-align: text-bottom;
}
