// Default settings for header
h1,h2,h3,h4,h5,h6 {
  color: $primary;
}

// Main titles (for example on home page)
h1.display-title {
  font-weight: 400;

  @include media-breakpoint-up(md) {
    font-size: 4em;
  }
  margin-bottom: 1em;
}


// First header on each page
.page-title {
  font-size: 3rem;
  font-weight: 300;

  margin-bottom: 1em;
}
