<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 py-3 footer-content">
                <p>&copy; Computational Pathology Group 2017-2018</p>
                <p>The Computational Pathology Group is part of the <a href="http://www.diagnijmegen.nl">Diagnostic Image Analysis Group</a> and the Department of Pathology at <a href="https://www.radboudumc.nl">Radboud University Medical Center</a>.</p>

                {% if page %}
                <a href="{{ page.edit_url }}">Edit</a>
                {% elif article %}
                <a href="{{ article.edit_url }}">Edit</a>
                {% endif %}
            </div>

            <div class="col-md-4 footer-ribbon py-3">
                <h3>Contact</h5>
                <address>
                    <strong>Computational Pathology Group</strong><br>
                    <i>Radboud University Medical Center</i><br>
                    Geert Grooteplein 10<br>
                    6525 GA Nijmegen<br>
                    The Netherlands<br>
                </address>
            </div>
        </div>
    </div>
</footer>
