<nav class="navbar navbar-expand-md bg-white fixed-top">
    <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/news">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">Projects</a>
            </li>
        </ul>
    </div>
</nav>
