<div class="container">
      <div class="row people-grid">
          <div class="col-lg-2 col-md-4 col-sm-6 person">
              <img src="https://randomuser.me/api/portraits/lego/1.jpg" class="img-thumbnail rounded-circle border border-primary">
              <h3 class="person-name">John Doe</h3>
              <h4 class="person-title">PhD student</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 person">
              <img src="https://randomuser.me/api/portraits/lego/2.jpg" class="img-thumbnail rounded-circle border border-primary">
              <h3 class="person-name">John Doe</h3>
              <h4 class="person-title">PhD student</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 person">
              <img src="https://randomuser.me/api/portraits/lego/3.jpg" class="img-thumbnail rounded-circle border border-primary">
              <h3 class="person-name">John Doe</h3>
              <h4 class="person-title">PhD student</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 person">
              <img src="https://randomuser.me/api/portraits/lego/4.jpg" class="img-thumbnail rounded-circle border border-primary">
              <h3 class="person-name">John Doe</h3>
              <h4 class="person-title">PhD student</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 person">
              <img src="https://randomuser.me/api/portraits/lego/5.jpg" class="img-thumbnail rounded-circle border border-primary">
              <h3 class="person-name">John Doe</h3>
              <h4 class="person-title">PhD student</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 person">
              <img src="https://randomuser.me/api/portraits/lego/6.jpg" class="img-thumbnail rounded-circle border border-primary">
              <h3 class="person-name">John Doe</h3>
              <h4 class="person-title">PhD student</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 person">
              <img src="https://randomuser.me/api/portraits/lego/7.jpg" class="img-thumbnail rounded-circle border border-primary">
              <h3 class="person-name">John Doe</h3>
              <h4 class="person-title">PhD student</h4>
          </div>
      </div>
</div>
